{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10.0"
        },
        "shippedProposals": true
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
