{
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [1, "always-multiline"],
    "no-underscore-dangle": 0,
    "quotes": [2, "single", "avoid-escape"],
    "strict": 0
  },
  "env": {
    "node": true
  },
  "globals": {
    "ASTNode": true,
    "FlowTypeDescriptor": true,
    "Handler": true,
    "NodePath": true,
    "PropDescriptor": true,
    "PropTypeDescriptor": true,
    "Resolver": true
  }
}
