{
    "arrowParens": "avoid",
    "trailingComma": "all",
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "tabWidth": 2,
    "printWidth": 80,
    "overrides": [{
      "files": [
        "bin/react-docgen.js",
        "bin/__tests__/__fixtures__/**/*.js"
      ],
      "options": {
        "trailingComma": "es5"
      }
    }]
  }
