.panelContainer {
    height: calc(100vh - 64px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.optionsPanel {
    flex: 0 0 200px;
    align-self: auto;
    padding: 20px;
}

.editorPanel {
    overflow:hidden;
    flex: 1 1 50%;
    align-self: auto;
    height: 100%
}
